{% extends "usuarios/base.html" %}
{% block conteudo %}
    <div class="container">
        <h1 class="mt-3 mb-3">Usuários Cadastrado</h1>
        <table class="table table-striped">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <th>{{usuario.id_usuario}}</th>
                <th>{{usuario.nome}}</th>
                <th>{{usuario.idade}}</th>
            </tr>
            {% endfor %}
        </table> 
    </div>
{% endblock conteudo %}